interactions:
- request:
    body: '{"method":"initialize","params":{"protocolVersion":"2025-03-26","capabilities":{"sampling":{},"roots":{"listChanged":true}},"clientInfo":{"name":"mcp","version":"0.1.0"}},"jsonrpc":"2.0","id":0}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://gitmcp.io/simonw/llm
  response:
    body:
      string: 'event: message

        data: {"jsonrpc":"2.0","id":0,"result":{"protocolVersion":"2025-03-26","capabilities":{"tools":{"listChanged":true}},"serverInfo":{"name":"GitMCP","version":"1.1.0"}}}


        '
    headers:
      Content-Type:
      - text/event-stream
      mcp-session-id:
      - c6148097a3e6fe36389315a4089271982315f4877e6f680885fd6ed9fc0392b8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"method":"tools/list","jsonrpc":"2.0","id":1}'
    headers:
      content-type:
      - application/json
      mcp-session-id:
      - c6148097a3e6fe36389315a4089271982315f4877e6f680885fd6ed9fc0392b8
    method: POST
    uri: https://gitmcp.io/simonw/llm
  response:
    body:
      string: 'event: message

        data: {"jsonrpc":"2.0","id":1,"result":{"tools":[{"name":"fetch_llm_documentation","description":"Fetch
        entire documentation file from GitHub repository: simonw/llm. Useful for general
        questions. Always call this tool first if asked about simonw/llm.","inputSchema":{"type":"object"},"annotations":{"_def":{"options":[{"_def":{"unknownKeys":"strip","catchall":{"_def":{"typeName":"ZodNever"},"~standard":{"version":1,"vendor":"zod"}},"typeName":"ZodObject"},"~standard":{"version":1,"vendor":"zod"},"_cached":null},{"_def":{"typeName":"ZodNull"},"~standard":{"version":1,"vendor":"zod"}}],"typeName":"ZodUnion"},"~standard":{"version":1,"vendor":"zod"}}},{"name":"search_llm_documentation","description":"Semantically
        search within the fetched documentation from GitHub repository: simonw/llm.
        Useful for specific queries.","inputSchema":{"type":"object","properties":{"query":{"type":"string","description":"The
        search query to find relevant documentation"}},"required":["query"],"additionalProperties":false,"$schema":"http://json-schema.org/draft-07/schema#"}},{"name":"search_llm_code","description":"Search
        for code within the GitHub repository: \"simonw/llm\" using the GitHub Search
        API (exact match). Returns matching files for you to query further if relevant.","inputSchema":{"type":"object","properties":{"query":{"type":"string","description":"The
        search query to find relevant code files"},"page":{"type":"number","description":"Page
        number to retrieve (starting from 1). Each page contains 30 results."}},"required":["query"],"additionalProperties":false,"$schema":"http://json-schema.org/draft-07/schema#"}},{"name":"fetch_generic_url_content","description":"Generic
        tool to fetch content from any absolute URL, respecting robots.txt rules.
        Use this to retrieve referenced urls (absolute urls) that were mentioned in
        previously fetched documentation.","inputSchema":{"type":"object","properties":{"url":{"type":"string","description":"The
        URL of the document or page to fetch"}},"required":["url"],"additionalProperties":false,"$schema":"http://json-schema.org/draft-07/schema#"}}]}}


        '
    headers:
      Content-Type:
      - text/event-stream
      mcp-session-id:
      - c6148097a3e6fe36389315a4089271982315f4877e6f680885fd6ed9fc0392b8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      content-type:
      - application/json
      mcp-session-id:
      - c6148097a3e6fe36389315a4089271982315f4877e6f680885fd6ed9fc0392b8
    method: DELETE
    uri: https://gitmcp.io/simonw/llm
  response:
    body:
      string: '{"jsonrpc":"2.0","error":{"code":-32000,"message":"Method not allowed"},"id":null}'
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    status:
      code: 405
      message: Method Not Allowed
version: 1
